@media screen and (orientation: landscape) {
    nav > a {
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        display: block;
    }
    nav, header {
        border-radius: 10px;
    }

    body {
        margin: 10px;
    }

    main {
        display: flex;
        height: calc(80dvh - 30px)
    }
    nav {
        flex: 1;
        padding: 30px;
    }
    article {
        flex: 3;
        padding: 20px 30px;
    }
    header {
        height: 20dvh;
        margin-bottom: 10px;
        font-size: xx-large;
    }

    select, input {
        padding: 3px 6px;
        margin-left: 5px;
        border-radius: 10px;
        border: 3px solid #5f5aa2;
        background-color: #565192;
        margin-bottom: 10px;
    }
    input:focus, select:hover {
        transition: .3s;
        border-color: #565192;
        background-color: #5f5aa2;
    }
    input#submitButton {
        margin: 50px auto 0;
        padding: 7px 14px;
        display: block;
    }
}