body {
    background-color: #090809;
    color: #F4FFF8;
}

::selection {
    background-color: #F4FFF8;
    color: #090809;
}

form {
    border-style: dashed;
    border-color: #F4FFF8;
}

::placeholder {
    color: #F4FFF880;
}

nav > a {
    color: #F4FFF8;
}
nav > a:hover {
    color: #F4FFF880;
}

article > div {
    border-color: #F4FFF8;
}